
/*.inferior > #infeior-imagen {
    width: 100vw;
    transform: rotate(900deg) translateY(305px);
    scale: 1;
    opacity: 50%;
}
.superior > #superio-imagen {
    width: 100vw;
    height: 300px;
}*/

body {
    background: url("pattern-background-desktop.svg") 0 0 / 100vw 340px,            
    url("pattern-background-mobile.svg");
    background-repeat: no-repeat;
}
.caja-conten {
    width: 365px;
    height: 485px;
    background-color: rgb(234, 234, 238);
    margin-left: 490px;
    margin-top: 70px;
    border-radius: 15px;

}
.caja-conten > #img-chica {
    width: 365px;
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 20px;
}

.caja-conten > #txt1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: rgb(7, 7, 107);
}

.caja-conten > #txt2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: darkgray;
    padding: 10px;
}

.caja-subconten {
    width: 305px;
    height: 75px;
    background-color: rgb(40, 40, 99);
    margin-left: 300px;
    margin-top: 70px;
    border-radius: 15px;

}
.caja-conten > .caja-subconten > #img-music {

}
